<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500327925220-umc0u04h1e3rbi1ikl3oku2cglbk8950.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500327925220-umc0u04h1e3rbi1ikl3oku2cglbk8950</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>500327925220-l3np8tvtcneai75jll4rsjoe91g38m7m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCNhjr6L4uvmqqhtYLHZ-slciyX4p2CXSo</string>
	<key>GCM_SENDER_ID</key>
	<string>500327925220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.keeplist</string>
	<key>PROJECT_ID</key>
	<string>keeplist-4b3e3</string>
	<key>STORAGE_BUCKET</key>
	<string>keeplist-4b3e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500327925220:ios:147e07f8f9cc3b9b1c73f1</string>
</dict>
</plist>